<div class="container" *ngIf="!isTable">


<app-result [codeEditor]="codeEditor" (changeValue)="valueChange($event)"></app-result>  

<div class="block-managment text-center">
    <input type="button" value="edit" class="btn btn-warning btn-edit" (click)="editClick()">
    <input type="button" value="style" class="btn btn-primary btn-style ms-2" (click)="styleClick()">
</div>
<form #form="ngForm">
    <div class="block block-edit" *ngIf="!isStyle">
        <textarea name="code" id="code"  [(ngModel)]="result" ></textarea>
        <input type="button" value="add" class="btn btn-add btn-danger" (click)="addClick()">
        <input type="button" value="save" class="btn btn-save btn-success ms-2" (click)="saveClick()" [disabled]="!result">
    </div>  



    <div class="block style-block" *ngIf="isStyle" (click)="clickOut($event)">   
        <div class="form-size">
            <h3>Text size:</h3>        
            <label class="radio">
                <input type="radio" name="size" value="12px" class="fontsize" [(ngModel)]="textStyle.size"><span></span>
                12px
            </label>
            <label class="radio ms-3">
                <input type="radio" name="size" value="14px" class="fontsize" checked [(ngModel)]="textStyle.size"><span></span>
                14px
            </label>
            <label class="radio ms-3">
                <input type="radio" name="size" value="16px" class="fontsize" [(ngModel)]="textStyle.size"><span></span>
                16px
            </label>                                
            <label class="radio ms-3">
                <input type="radio" name="size" value="18px" class="fontsize" [(ngModel)]="textStyle.size"><span></span>
                18px
            </label>                                
            <label class="radio ms-3">
                <input type="radio" name="size" value="20px" class="fontsize" [(ngModel)]="textStyle.size"><span></span>
                20px
            </label>                                        
        </div>
        <div class=" mt-2">
            <h3>Font family:</h3>
            <select class="custom-select mt-2 mb-2" id="fontFamily" name="family" [(ngModel)]="textStyle.family">
                <option value="" style="display:none; color:gray">Choose option</option>
                <option value="cursive">cursive</option>
                <option value="fantasy">fantasy</option>
                <option value="monospace">monospace</option>
                <option value="sans-serif">sans-serif</option>
                <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                <option value="Arial Narrow">Arial Narrow</option>
                <option value="Arial">Arial</option>
            </select>
        </div>
        <div class="form-color mt-2">
            <h3>Colors:</h3>
            <input type="button" #bgText value="Color of text"  class="btn btn-secondary mt-2 mb-2" (click)="colorText()">
            <input type="button" #bgColor value="Background color"  class="btn btn-secondary ms-3  mt-2 mb-2" (click)="colorBg()">
            <div class="colors" #colors (click)="colorClick($event)" *ngIf="(isColorText || isColorBg)">
                <div class="color-box red" value="red"></div>
                <div class="color-box blue" value="blue"></div>
                <div class="color-box green" value="green"></div>
                <div class="color-box white" value ="white"></div>
                <div class="color-box black" value ="black"></div>
                <div class="color-box yellow" value ="yellow"></div>
                <div class="color-box pink" value ="pink"></div>
                <div class="color-box purple" value ="purple"></div>
                <div class="color-box gray" value ="gray"></div>           
            </div>
        </div>
        <div class="form-style mt-3">
            <h3>Font weight:</h3>
        
            <label for="bold" class="font-style">
                <input type="checkbox" id="bold" name="bold" value="bold" [(ngModel)]="textStyle.bold"><span>Bold text</span>
            </label>
            <label for="curcive" class="font-style ms-2">
                <input type="checkbox" id="curcive" name="cursive" value="curcive" [(ngModel)]="textStyle.italic"><span>Italic text</span>
            </label>    
    </div>  
</div>  
</form>
</div>
<div class="container" *ngIf="isTable">
    <app-table [isTable]="isTable" (changeValue)="valueTableChange($event)"></app-table>  
</div>



